/.github/
/.vscode/
/node_modules/
/build/
/tmp/
.idea/*
/docs/

coverage
*.log
.gitlab-ci.yml

package-lock.json
/*.tgz
/tmp*
/mnt/
/package/

/public/
.gitignore
.editorconfig
/dist/*
!/dist/smask.es.js
!/dist/smask.umd.js
